---
title: 'Homepage'
---

{% extends "_layout/base.html.twig" %}
{% include "_component/helpers/svg.html.twig" %}

{% block main %}
{{ svg('icon-fb') }}
{{ svg('icon-tw') }}
{{ svg('icon-yt') }}

<h3>Newss list</h3>
{% for news in newses %}
    <div class="news" style="float:left;width: 100%;">
      <h3>{{ news.title }}</h3>
      <div>{{ news.date }}</div>
      <img src="{{ news.image }}" width="200" alt="{{ news.title }}">
      <p>{{ news.desc|truncate(50) }}</p>
    </div>
{% endfor %}

{% endblock %}
